:root {
	--color: #ffffff;
	--color-2: #5ec3eb;
	--color-source: #b3b3b3;
	--background-color-source: #292929;
	--background-color-source-2: #272727;


	--background-color: #28092e;
	--background-color-2:  #252525;
	--background-color-3:  #14161b;
	--background-color-4: #147e11;
	--background-color-5: #383838;
	--background-color-image: #e69292;

	--space: 10px;
	--space-2: 30px;

	--border-radius: 20px;

	/* box-sizing: border-box; */
	overflow-x: hidden;
}

img {
	border-radius: var(--border-radius);
	box-shadow: 0px 0px 10px 5px var(--background-color-3);
	max-height: 4em;
	animation-delay: var(--animation-delay);
}

* {
	box-sizing: border-box;
	padding: 0;
}

body {
	font-family: 'calibri';
	font-size: large;
	line-height: 1.4;
	color: var(--color);
	background-color: var(--background-color-2);
	margin: 0;
}

button {
	background-color: var(--background-color-3);
	color: var(--color);
	border: none;
	margin: var(--space);
	text-align: center;
	border-radius: 50%;
	height: 3em;
	width: 3em;
	outline: none;
	transition-duration: 200ms;
}

button:hover {
	transform: scale(1.1);
}

button:active {
	transform: scale(0.9);
}

.btn-expanded {
	transform: rotate(90deg);
}

.btn-expanded:hover {
	transform: rotate(90deg) scale(1.1);
}

.expander {
	z-index: 100;
	background-color: var(--background-color-2);
	max-width: 100%;
	border-top-left-radius: var(--border-radius);
	border-bottom-left-radius: var(--border-radius);
}

.expander.expanded {
	position: sticky;
	position: -webkit-sticky;
	top: 8.5em;
	z-index: 50;
	right: 0;
}

.expander > * {
	display: inline;
}

.hidden {
    display: none;
}

a {
	text-decoration: none;
	color: var(--color-2);
}

.material-icons {
	margin-right: var(--space);
	vertical-align: middle;
}

.Section {
	padding: var(--space-2);
	max-width: 95%;
	margin: auto;
}

/*Scroll bars*/
::-webkit-scrollbar-corner {
    background-color: var(--background-color);
}
::-webkit-scrollbar {
    background-color: var(--background-color-5);
    width: 0.8em;
    height: 0.8em;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb {
    background-color: var(--background-color-4);
    border-radius: 5px;
    border: 1px black solid;
}