.categories {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.categories > .category {
    flex-wrap: wrap;
    margin-top: var(--space-2);
    margin-left: var(--space-2);
}

.categories > .category > .projects {
    margin-top: var(--space-2);
    margin-left: var(--space-2);
}

.categories > .category > .category-sub {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.categories #loading {
    display: grid;
    place-content: center;
}

.categories #loading-shape {
    animation: loading 5s ease-in-out infinite;
    border-radius: 50%;
    background-color: var(--background-color-3);
    width: 3em;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: var(--space);
    padding: var(--space);
    padding-right: 0;
    font-size: xx-large;
}

.categories #loading-shape .material-icons {
    /* transform: rotateY(180deg); */
    animation: loading-icon 2s ease-in-out infinite;
}

@keyframes loading-icon {
    100% {
        transform: rotate3d(1, 1, 1, 360deg);
    }
}

@keyframes loading {
    100% {
        transform: rotate3d(1, 1, 1, 360deg);
    }
}