.project {
    color: var(--color);
    padding: var(--space-2);
    margin-top: var(--space-2);
    border-radius: 5px;
    box-shadow: 0px 0px 10px 5px var(--background-color-3);
    flex-grow: 3;
    z-index: 0;
}
.project:nth-child(n) {
    background-color: var(--b);
}
.project:nth-child(2n) {
    background-color: var(--r);
}
.project:nth-child(3n) {
    background-color: var(--g);
}

.project > h4 {
    margin-bottom: var(--space-2);
}

.project a {
    color: var(--color-2);
    text-decoration: underline;
}

.project .indent {
    padding-left: 8px;
    border-left: dotted var(--color-2) 2px;
    /* border-image: linear-gradient(var(--r), var(--g), var(--b)); */
}

.preview img {
    border-radius: var(--border-radius);
    box-shadow: 0px 0px 10px 5px var(--background-color-3);
    max-height: 4em;
    animation-delay: var(--animation-delay);
}

.project .preview {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    transition-duration: 200ms;
    --animation-delay: 0ms;
}

.project .preview > * {
    margin-bottom: var(--space);
    margin-right: var(--space);
    animation: alive 20s ease-in-out infinite;
    z-index: 0;
}

.project .preview > .keyword {
    animation-delay: var(--animation-delay);
    padding: 8px;
    filter: contrast(80%);
}

.project > .preview > .keyword:nth-child(n) {
    background-color: var(--b);
}
.project .preview > .keyword:nth-child(2n) {
    background-color: var(--r);
}
.project .preview > .keyword:nth-child(3n) {
    background-color: var(--g);
}

.project .preview > img {
    animation-delay: var(--animation-delay);
}

@keyframes alive {
    0% {transform: rotate3d(0, 0, 0, 0deg);}
    5% {transform: rotate3d(0, 1, 0.2, 360deg);}
    100% {transform: rotate3d(0, 1, 0.2, 360deg);}
}
@keyframes alive2 {
    100% {transform: rotate3d(0, 1, 0.2, 360deg);}
}

.project .keyword {
    padding: 5px;
    border-radius: var(--border-radius);
    float: right;
    background-color: var(--background-color-4);
}